* {
  margin: 0;
  padding: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    position: sticky;
    top: 0px;
    z-index: 1000;
  }
  
  .title {
    font-size: 24px;
  }
  
  .nav a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
  }
  
  .nav a:hover {
    text-decoration: underline;
  }  